[package]
name = "ykrt"
version = "0.1.0"
authors = ["The Yorick Developers"]
edition = "2018"
license = "Apache-2.0 OR MIT"

[dependencies]
ykshim_client = { path = "../ykshim_client" }

[build-dependencies]
regex = "1.4.3"
